Repository m-wells/pkgbuilds: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck-pkgbuild, bash-syntax-check

shellcheck-pkgbuild:
  name: ShellCheck (PKGBUILD)
  entry: shellcheck
  language: system
  args:
  - --shell=bash
  - --exclude=SC2034,SC2148,SC2154,SC2164

bash-syntax-check:
  name: Bash Syntax Check
  entry: bash -n
  language: system

fix(scripts): handle local files in update-checksums.sh and fix gemini-cli update
  pkgs/gemini-cli/PKGBUILD
  scripts/update-checksums.sh
Due: shellcheck-pkgbuild, bash-syntax-check

fix(ci): tolerate the missing repo-db artifact on first publish
  .github/workflows/build.yml
Due: none

fix(ci): removed packages must not be resurrected by the blanket repo-add
  scripts/ci/publish.sh
Due: bash-syntax-check

chore(nvidia-proprietary-dkms): update to 610.57.04
  pkgs/nvidia-proprietary-dkms/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

chore(keeper-commander): update to 18.1.0
  pkgs/keeper-commander/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

chore(keeper-commander): update to 18.1.1
  pkgs/keeper-commander/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

chore(keeper-commander): update to 18.1.2
  pkgs/keeper-commander/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

chore(keeper-commander): update to 18.1.3
  pkgs/keeper-commander/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

fix(watch): log the up-to-date path
  scripts/lib/common.sh
Due: bash-syntax-check

chore(keeper-commander): update to 18.1.4
  pkgs/keeper-commander/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

chore(keeper-commander): update to 18.1.5
  pkgs/keeper-commander/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

ci(release): refuse to publish an asset whose detached signature is missing or does not verify
  scripts/ci/release.sh
Due: bash-syntax-check

chore(nvidia-proprietary-dkms): update to 615.71.09
  pkgs/nvidia-proprietary-dkms/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

chore(keeper-commander): update to 18.1.6
  pkgs/keeper-commander/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

chore(keeper-commander): update to 18.1.7
  pkgs/keeper-commander/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

chore(keeper-commander): update to 18.1.8
  pkgs/keeper-commander/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

chore(nvidia-proprietary-dkms): update to 615.78.08
  pkgs/nvidia-proprietary-dkms/PKGBUILD
Due: shellcheck-pkgbuild, bash-syntax-check

Path conditions:
  shellcheck-pkgbuild: any of: ^pkgs/.*PKGBUILD$
  bash-syntax-check: any of: (^pkgs/.*PKGBUILD$|^scripts/.*\.sh$|.*\.sh$)
